:root,
#root,
#docs.root{
    --dark-bgimage:linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url('../assets/images/movie_bg.jpg');
    --light-bgimage:linear-gradient(rgba(255, 255, 255, 0.7),rgba(255, 255, 255, 0.7)),url('../assets/images/movie_bg.jpg');
    --primary-color:#000000;
    --secondary-color:rgb(98, 72, 243);
    --font-color:#8C8C8C;
    --error: #D32F2F;
    --cardbg:linear-gradient(rgba(70, 160, 26, 0.772)rgba(37,37,37,.61));
}



    